.topic
  .row
    .span8.offset2
      %h1.beta.topic-title
        = @topic.title
      %section.topic
        .row
          %iframe{:src => "#{@content.youtube_channel_url}"}
      .row
        .tabbable.tabs-left.topic-details.colored-block{:id => "tabpanel", :role => "application"}
          %ul.nav.nav-tabs{:role => "tablist"}
            %li.tab{:id => "s_tab", :role => "tab", "aria-owns" => "s_#{@content.id.to_s}",
                              "aria-controls" => "s_#{@content.id.to_s}"}
              %a{"data-toggle" => "tab", :href => "#s_#{@content.id.to_s}"} Summary
            %li.tab.active{:id => "t_tab", :role => "tab", "aria-owns" => "t_#{@content.id.to_s}",
                              "aria-selected" => "true", "aria-controls" => "t_#{@content.id.to_s}"}
              %a{"data-toggle" => "tab", :href => "#t_#{@content.id.to_s}"} Transcript
            %li.tab{:id => "test_tab", :role => "tab", "aria-owns" => "test_#{@content.id.to_s}", "aria-controls" => "test_#{@content.id.to_s}"}
              %a{"data-toggle" => "tab", :href => "#test_#{@content.id.to_s}"} Take test
          .tab-content.well
            .tab-pane.summary{ :id => "s_#{@content.id.to_s}", :role => "tabpanel", "aria-labelledby" => "s_tab"}
              %h3{"tabindex" => "0"} Summary
              = raw @content.summary
            .tab-pane.transcript.active{:id => "t_#{@content.id.to_s}", :role => "tabpanel", "aria-labelledby" => "t_tab"}
              %h3{"tabindex" => "0"} Transcript 
              = raw @content.transcript
            .tab-pane.test{:id =>"test_#{@content.id.to_s}", :role => "tabpanel", "aria-labelledby" => "t_tab"}
              %h3{"tabindex" => "0"} Take test
      %br             
      .pull-right= link_to "BACK", level_path(@topic.level), :class => "btn"

