.col-md-4
  .container
  = simple_form_for [:admin, @level], html: {class: 'form-horizontal' } do |f|
    = f.input :name, input_html: {class: 'form-control'}
    = f.input :seq_number, input_html: {class: 'form-control'}
    .form-actions
      = f.submit nil, :class => 'btn btn-primary'
      = link_to t('.cancel', :default => t("helpers.links.cancel")), admin_level_path(@level), :class => 'btn'