= simple_form_for [:admin, @level], html: {class: 'form-horizontal form-validate' } do |f|
  = f.input :name
  = f.input :seq_number

  %h3 Topic
  = f.simple_fields_for :topics do |topic_form|
    = topic_form.input :title
    = topic_form.input :seq_number

    %h3 Content
    = topic_form.simple_fields_for :contents do |content_form|
      = content_form.input :title
      = content_form.input :summary
      = content_form.input :body
      = content_form.input :audio_mp3
      = content_form.input :audio_ogg

  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), admin_levels_path, :class => 'btn'

/TODO
/Create one topic here