.col-md-4
  .container
  = simple_form_for [:admin, @content], :html => { :class => 'form-horizontal' } do |f|
    = f.input :title, input_html: { class: "form-control"}
    = f.input :summary, input_html: { class: "form-control"}
    = f.input :body, input_html: { class: "form-control"}
    = f.input :audio_mp3
    = f.input :audio_ogg
    .form-actions
      = f.submit nil, :class => 'btn btn-primary'
      = link_to t('.cancel', :default => t("helpers.links.cancel")), admin_content_path(@content), :class => 'btn'
