= simple_form_for [:admin, @topic, @content], :html => { :class => 'form-horizontal' } do |f|
  = f.input :title
  = f.input :summary
  = f.input :body
  = f.input :audio_mp3_file_name
  = f.input :audio_ogg_file_name
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), :back, :class => 'btn'
