- model_class = Feedback
.page-header
  %h1=t '.title', :default => model_class.model_name.human.titleize

%p
  %strong= model_class.human_attribute_name(:name) + ':'
  %br
  = @feedback.name
%p
  %strong= model_class.human_attribute_name(:email) + ':'
  %br
  = @feedback.email
%p
  %strong= model_class.human_attribute_name(:country) + ':'
  %br
  = @feedback.country
%p
  %strong= model_class.human_attribute_name(:text) + ':'
  %br
  = @feedback.text

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), admin_feedback_path, :class => 'btn'