.col-md-4
  .container
  = simple_form_for [:admin, @question], html: {class: 'form-horizontal'} do |f|
    = f.input :title, input_html: { class: "form-control"}
    = f.input :difficulty, collection: [EASY, MEDIUM, HARD], html: {class: 'form-horizontal'}

    %h3 Options
    = f.simple_fields_for :options, html: {class: 'form-horizontal'} do |option_form|
      = option_form.input :text, input_html: { class: "form-control"}
      = option_form.input :correct, as: :select, include_blank: false, html: {class: 'form-horizontal'}

    .form-actions
      = f.submit nil, :class => 'btn btn-primary'
      = link_to t('.cancel', :default => t("helpers.links.cancel")),[:admin, @questionable], :class => 'btn'

/TODO
/Dynamically add more options to the form using Jquery