= form_for @user, :html => { :class => 'form-horizontal' } do |f|
  .control-group
    = f.label :roles, :class => 'control-label'
    .controls
      = f.text_field :roles, :class => 'text_field'
  .control-group
    = f.label :invited_by_type, :class => 'control-label'
    .controls
      = f.text_field :invited_by_type, :class => 'text_field'
  .control-group
    = f.label :invited_by_id, :class => 'control-label'
    .controls
      = f.text_field :invited_by_id, :class => 'text_field'
  .control-group
    = f.label :email, :class => 'control-label'
    .controls
      = f.text_field :email, :class => 'text_field'
  .control-group
    = f.label :encrypted_password, :class => 'control-label'
    .controls
      = f.text_field :encrypted_password, :class => 'text_field'
  .control-group
    = f.label :reset_password_token, :class => 'control-label'
    .controls
      = f.text_field :reset_password_token, :class => 'text_field'
  .control-group
    = f.label :reset_password_sent_at, :class => 'control-label'
    .controls
      = f.text_field :reset_password_sent_at, :class => 'text_field'
  .control-group
    = f.label :remember_created_at, :class => 'control-label'
    .controls
      = f.text_field :remember_created_at, :class => 'text_field'
  .control-group
    = f.label :current_sign_in_at, :class => 'control-label'
    .controls
      = f.text_field :current_sign_in_at, :class => 'text_field'
  .control-group
    = f.label :last_sign_in_at, :class => 'control-label'
    .controls
      = f.text_field :last_sign_in_at, :class => 'text_field'
  .control-group
    = f.label :current_sign_in_ip, :class => 'control-label'
    .controls
      = f.text_field :current_sign_in_ip, :class => 'text_field'
  .control-group
    = f.label :last_sign_in_ip, :class => 'control-label'
    .controls
      = f.text_field :last_sign_in_ip, :class => 'text_field'
  .control-group
    = f.label :invitation_token, :class => 'control-label'
    .controls
      = f.text_field :invitation_token, :class => 'text_field'
  .control-group
    = f.label :invitation_created_at, :class => 'control-label'
    .controls
      = f.text_field :invitation_created_at, :class => 'text_field'
  .control-group
    = f.label :invitation_sent_at, :class => 'control-label'
    .controls
      = f.text_field :invitation_sent_at, :class => 'text_field'
  .control-group
    = f.label :invitation_accepted_at, :class => 'control-label'
    .controls
      = f.text_field :invitation_accepted_at, :class => 'text_field'
  .control-group
    = f.label :invitation_limit, :class => 'control-label'
    .controls
      = f.text_field :invitation_limit, :class => 'text_field'
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), user_path, :class => 'btn'
