= simple_form_for [:admin, @user], html: {class: 'form-horizontal form-validate' } do |f|
  = f.input :email

  = f.simple_fields_for :profile do |profile_form|
    = profile_form.input :name
    = profile_form.input :gender
    = profile_form.input :birthdate
    = profile_form.input :address

  .form-actions
    = f.button :submit, :class => 'btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), admin_users_path, :class => 'btn'


/TODO
/fix the country select issue